{% extends "base.html" %}

{% block title %}{{element.code}} - {{element.name}}{% endblock %}

{% block header%}
<!-- Script for switching tabs -->
<script>
  $(document).ready(function(){
    $(".nav-tabs a").click(function(){
       $(this).tab('show');
    });
  });
</script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
      <div class="col-3">
        <table class="table table-striped table-dark mt-3">
            <tbody>
              <tr>
                <th scope="row">ID</th>
                <td>{{element.id}}</td>
              </tr>
              <tr>
                <th scope="row">Name</th>
                <td>{{element.name}}</td>
              </tr>
              <tr>
                <th scope="row">Type</th>
                <td>{{element.type}}</td>
              </tr>
              <tr>
                <th scope="row">Code</th>
                <td>{{element.code}}</td>
              </tr>
              <tr>
                <th scope="row">In Stock</th>
                <td>{{element.instock}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-6">
        <img src ="/media/{{element.icon}}" id='element_icon'  alt="No image"/>
      </div>
      <div class="col">
      

        <!-- Button trigger delete modal -->
        <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#deleteelement" style="width:300px;">
          Delete {{element.type}}
        </button>



      </div>
    </div>

<!-- Tab panels -->

<ul class="nav nav-tabs mt-5">
  <li class="tablabel"><a href="#media">Media</a></li>
  <li class="tablabel"><a href="#icon">Set Icon</a></li>
  <li class="tablabel"><a href="#vendors">Purchase possibilities</a></li>
</ul>
<div class="tab-content">

  {% include "elements/media_tab.html" %}
  {% include "elements/set_icon_tab.html" %}
  {% include "elements/vendors_tab.html" %}


<!-- Delete element Modal - Hidden by default-->
<div class="modal fade" id="deleteelement" tabindex="-1" role="dialog" aria-labelledby="deleteelementlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteelementlabel">Delete {{element.type}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <a href="/elements/delete/{{element.id}}" class="btn btn-danger mt-2">Delete {{element.type}}</a>
      </div>
    </div>
  </div>
</div>


{% if active_modal_vendor %}
  <script type="text/javascript">
    $(window).on('load', function() {
        $('.add-vendor-form').modal('show');
    });
  </script>
{% endif %}


<!-- Vendor add modal -->
{% if active_modal_vendor %}
    <div class="modal fade add-vendor-form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
{% else %}
    <div class="modal fade add-vendor-form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
{% endif %}
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">
        
        <!-- Filter -->
        <form action="#" method="post">    
            <div class="modal-body bg-dark">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                Filter:

                {% csrf_token %}
                <table class="ml-auto mr-auto">
                    <tr>
                        <td>Company</td>
                        <td><input type=text name="company"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type=text name="address"></td>
                    </tr>
                    <tr>
                        <td colspan=2><input type="submit" class="btn btn-primary mt-2 w-100" value="Filter"/></td>
                    </tr>
                </table>
                                         
            </div>
            <input type="hidden" name="formType" value="vendorFilter">
        </form>
        <!-- End of filter -->

        <table>
        <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Price Unit</th>
                <th scope="col">Price</th>
                <th scope="col">Unit</th>
                <th scope="col">Code</th>
                <th scope="col">Link</th>
                <th scope="col">Add</th>
            </tr>
            </thead>
            <tbody>
                {% for vendor in vendors %}
                    <tr>
                    <td>{{vendor.company}}</td>
                    <td>
                      <form action="#" method="post">
                        {% csrf_token %}
                        <select name="price_unit" id="p_unit">
                        {% for unit in price_units %}
                          <option value="{{unit.id}}">{{unit.unittype}}</option>
                        {% endfor %}
                      </select>
                        
                      </td>
                      <td><input type=number name="price" required min=0 style="width:80px;" required></td>
                      <td><input type=text name="unit" required maxlength=10 style="width:80px;"></td>
                      <td><input type=text name="code" required maxlength=20 style="width:100px;"></td>
                      <td><input type=text name="link" required style="width:80px;"></td>
                      <td><input type="submit" class="btn btn-success" value="Add"></td>

                      <input type="hidden" name="formType" value="addVendor">
                      <input type="hidden" name="vendorID" value="{{vendor.id}}">
                      <input type="hidden" name="elementID" value="{{element.id}}">

                    </form>
                    </tr>
                {% endfor %}
        </tbody>
        </table>

      </div>
    </div>
  </div>




{% endblock %}