{% extends "base.html" %}

{% block title %}{{type}}{% endblock %}

{% block content %}


<!-- Add new part trigger modal -->
<button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#AddNewElementModal">
    Add New {{type}}
  </button>
  <!-- Modal -->
  <div class="modal fade" id="AddNewElementModal" tabindex="-1" role="dialog" aria-labelledby="AddNewElementModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="AddNewElementModalTitle">Add New {{type}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        {% if type == "Part"%}
          <form action="/parts/add" method="post">

        {% elif type == "Operation"%}
          <form action="/operations/add" method="post">

        {% elif type == "Assembly"%}
          <form action="/assemblies/add" method="post">

        {% elif type == "Product"%}
          <form action="/products/add" method="post">

        {% elif type == "Project"%}
          <form action="/projects/add" method="post">

        {% else %}
          <form action="#" method="post">
        {% endif %}

            <div class="modal-body bg-dark">
                
                    {% csrf_token %}
                    {{ newElementForm }}

            </div>
            <div class="modal-footer bg-dark">
            <input type="submit" class="btn btn-primary" value="Save changes"/>
            </div>
        </form>
      </div>
    </div>
  </div>
<!-- End of Add new part trigger modal -->


<table class="table-striped table-dark element_table">
    <thead>
    <tr>
        <th scope="col">Image</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Code</th>
        <th scope="col">Instock</th>
    </tr>
    </thead>
    <tbody>
{% for element in elements %}
        <tr onclick="window.location='/elements/{{element.id}}';" class="linkstyle">
        <td scope="row"><img src="/media/{{element.icon}}" class="table_icon"></td>
        <td>{{element.id}}</td>
        <td>{{element.name}}</td>
        <td>{{element.type}}</td>
        <td>{{element.code}}</td>
        <td>{{element.instock}}</td>
      </tr>
{% endfor %}
</tbody>
</table>



{% endblock %}