{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}


<!-- Add new part trigger modal -->
<button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#AddNewElementModal">
    Add New User
  </button>
  <!-- Modal -->
  <div class="modal fade" id="AddNewElementModal" tabindex="-1" role="dialog" aria-labelledby="AddNewElementModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="AddNewElementModalTitle">Add New {{type}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <form action="/vendors/add" method="post">
            <div class="modal-body bg-dark">
                
                    {% csrf_token %}
                    {{ newVendorForm }}

            </div>
            <div class="modal-footer bg-dark">
            <input type="submit" class="btn btn-primary" value="Save changes"/>
            </div>
        </form>
      </div>
    </div>
  </div>
<!-- End of Add new part trigger modal -->


<table class="table-striped table-dark element_table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Is Admin</th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
        <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.is_superuser}}</td>
      </tr>

      {% endfor %}



</tbody>
</table>

{% for vendor in vendors %}
<!-- Delete vendor Modal - Hidden by default-->
    <div class="modal fade" id="deletevendor{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="deletevendorlabel{{forloop.counter}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
            <h5 class="modal-title" id="deletevendorlabel{{forloop.counter}}">Delete Vendor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure?
            </div>
            <div class="modal-footer">
            <a href="/vendors/delete/{{vendor.id}}" class="btn btn-danger mt-2">Delete Vendor</a>
            </div>
        </div>
        </div>
    </div>
{% endfor %}

{% endblock %}