{% if active_tab == "bom" %}
  <div id="bom" class="tab-pane fade active show pt-4 rounded">
{% else %}
    <div id="bom" class="tab-pane fade show pt-4 rounded">
{% endif %}
    <h3 class="pt-4">BOM</h3>

    <table class="table-striped table-dark element_table">
        <thead>
        <tr>
            <th scope="col">ContainerID</th>
            <th scope="col">ElementID</th>   
            <th scope="col">Pieces</th>
            <th scope="col">ChildName</th>
            <th scope="col">Type</th>
            <th scope="col">Depth</th>
        </tr>
        </thead>
        <tbody>
    {% for childElement in element.bom %}
            <tr>
            <td scope="row">{{childElement.ContainerID}}</td>
            <td>{{childElement.ElementID}}</td>
            <td>{{childElement.Pieces}}</td>
            <td>{{childElement.ChildName}}</td>
            <td>{{childElement.Type}}</td>
            <td>{{childElement.Depth}}</td>


          </tr>
    {% endfor %}
    </tbody>
    </table>

  </div>
