{% if active_tab == "media" %}
  <div id="media" class="tab-pane fade active show pt-4 rounded">
{% else %}
<div id="media" class="tab-pane fade show pt-4 rounded">
{% endif %}
    <h3>Media upload</h3>
    
  <form action="#" method="post" enctype="multipart/form-data">

    <div class="modal-body bg-secondary ml-auto mr-auto mt-3 mb-1" style="width: 500px;">
      {% csrf_token %}
      <div>
        <label for="id_description">Description:</label>
        <input type="text" name="description" class="form-control ml-auto mr-auto mb-3" style="width: 400px;" required id="id_description">
      </div>
      <div>
        <label for="id_file">File:</label>
        <input type="file" name="file" required class="ml-auto mr-auto mb-3" id="id_file">
      </div>
      <input type="hidden" name="formType" value="uploadForm">
    <input type="submit" class="btn btn-primary float-none" style="width: 400px;" value="Upload"/>
    </div>
</form>

<h3 class="mt-5">Media library</h3>

  <div class="media_container">
    {% for media in element.mediaList %}
    
    <div class="card bg-light text-dark m-2 rounded" style="width: 14rem;">
        {% if media.is_image %}
          <img class="card-img-top" src="/media/{{media.path}}" alt="Media Card">
        {% else %}
          {% load static %}
          <img class="card-img-top" src="{% static 'document.svg' %}" style="height:150px;" alt="Media Card">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{media.description}}</h4>
          <a href="/media/{{media.path}}" target="_blank" class="btn btn-primary">Download</a>
          {% if media.is_image %}
            <a href="/elements/modify_icon/{{element.id}}/{{media.path}}" class="btn btn-primary mt-2">Set as icon</a>
          {% endif %}
        </div>
      </div>
        
    {% endfor %}
  </div>

  </div>